@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "P22";
  src: url("/font/font.ttf") format("truetype");
}

.swiperContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
 
.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide { 
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg) translate(45%, 100%);
    font-family: "P22", sans-serif;
    font-size: 115px;
  }

  .info {
    position: absolute;
    left: 20%;
    bottom: 40%;
    font-size: 14px;
    line-height: 2;

    p {
      font-weight: 600;
      margin-top: 10px;
    }

    span {
      display: block;
      line-height: 1.5;
      font-weight: 200;
    }
  }

  .pricing {
    padding-top: 60px;
    position: absolute;
    right: 10%;
    font-size: 14px;

    p {
      font-weight: 600;
      margin-top: 10px;
    }

    span {
      display: block;
      line-height: 1.5;
      font-weight: 200;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 30px;
    }
  }

  .btnBlock {
    display: flex;
    margin-top: 10px;

    .btn, .lightBtn {
      padding: 18px 60px;
      font-family: "Poppins", sans-serif;
      background: rgba(0, 0, 0, 0.25);
      border: none;
      color: #fff;
      font-size: 10px;
      cursor: pointer;
    }

    .lightBtn {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .mainImg {
    object-fit: cover;
    height: 100%; 
  }
}

.swiperThumbs {
  position: fixed;
  top: 65%;
  right: 30%;
  z-index: 10;
  width: 300px;
  overflow: hidden;

  .swiperSlide {
    height: 50px;
    cursor: pointer;
  }
}

.scroll {
  position: absolute;
  top: 80%;
  right: 30%;
  z-index: 10;
  font-size: 12px;
  font-weight: 200;
}

.social {
  position: absolute;
  top: 90%;
  left: 20%;
  z-index: 10;
  font-size: 14px;

  a {
    color: #fff;
    text-decoration: none;
    margin-inline: 10px;
  }
}